/* line 11, ../../app/assets/stylesheets/static_pages.css.scss */
body {
  background: skyblue;
  padding: 50px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* line 18, ../../app/assets/stylesheets/static_pages.css.scss */
#simone {
  width: 400px;
  height: 400px;
  position: relative;
  background: #111;
  border-radius: 50%;
  margin: 0 auto;
  border: 40px solid #111111;
}
/* line 26, ../../app/assets/stylesheets/static_pages.css.scss */
#simone:after {
  content: 'SIMONE';
  color: #fff;
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 200px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #111;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
/* line 42, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 0;
}
/* line 47, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.green {
  background: green;
  border-radius: 200px 0 0 0;
  top: 0;
  left: 0;
}
/* line 7, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.green.active, #simone button.green:active {
  background: #1aff1a;
}
/* line 54, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.red {
  background: red;
  border-radius: 0 200px 0 0;
  top: 0;
  right: 0;
}
/* line 7, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.red.active, #simone button.red:active {
  background: #ff9999;
}
/* line 61, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.blue {
  background: blue;
  border-radius: 0 0 200px 0;
  bottom: 0;
  right: 0;
}
/* line 7, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.blue.active, #simone button.blue:active {
  background: #9999ff;
}
/* line 68, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.yellow {
  background: gold;
  border-radius: 0 0 0 200px;
  bottom: 0;
  left: 0;
}
/* line 7, ../../app/assets/stylesheets/static_pages.css.scss */
#simone button.yellow.active, #simone button.yellow:active {
  background: #ffef99;
}




/* Fork Me */
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
